/* style.css placeholder */

.search-bar {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  height: 60px;
}

.search-bar input {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
}

.search-bar .search-icon {
  color: #000000;
  font-size: 28px;
  padding-top: 6px;
  padding-left: 8px;
  padding-right: 5px;
  background-color: #f8dbc8;
  border-radius: 5px 0 0 5px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-item {
  width: 80%;
  background-color: white;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-info {
  display: flex;
  align-items: center;
}

.user-icon {
  background-color: #f4c78b;
  border-radius: 50%;
  padding: 30px;
  margin: 30px;
}

.user-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 0;
  margin-left: 85px;
}

.user-header,
.user-values {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.user-header .answers {
  color: #ff9305;
  background-color: #f0fce5;
  padding: 5px;
  height: 25px;
  margin-right: 80px;
  padding-left: 100px;
  border-radius: 20px;
}

.user-header p,
.user-values p {
  flex: 1;
  margin: 0;
  text-align: left;
  padding: 0 10px;
}

.user-header p {
  font-weight: bolder;
  font: 25px sans-serif bolder;
}

@media (max-width: 768px) {
  .user-item {
    width: 80%;
    background-color: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .user-info {
    display: flex;
    align-items: center;
  }

  .user-icon {
    background-color: #f4c78b;
    border-radius: 50%;
    padding: 30px;
    margin: 30px;
  }

  .user-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
  }

  .user-header,
  .user-values {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

  .user-header p,
  .user-values p {
    flex: 1;
    margin: 0;
    text-align: left;
    padding: 0 10px;
  }

  .user-header p {
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .user-item {
    width: 80%;
    background-color: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .user-info {
    display: flex;
    align-items: center;
  }

  .user-icon {
    background-color: #f4c78b;
    border-radius: 50%;
    padding: 30px;
    margin: 30px;
  }

  .user-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
  }

  .user-header,
  .user-values {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

  .user-header p,
  .user-values p {
    flex: 1;
    margin: 0;
    text-align: left;
    padding: 0 10px;
  }

  .user-header p {
    font-weight: bold;
  }
  .user-header {
    margin-right: -0px;
  }
  .user-details {
    margin-left: 0;
  }
}
